* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.main-content .top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr max-content;
}

.profile-picture img {
    height: 50px;
    width: auto;
}

.greeting-container {
    display: grid;
    height: max-content;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content max-content;
}

.greeting-container .profile-picture {
    grid-row: 1/3;
}

.greeting-container img {
    grid-row: 1/3;
    height: 70px;
}

.main-content .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content .trending {
    width: max-content;
    grid-column: 2/3;
}

.content .profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profiles .desc {
    grid-column: 2/3;
}