@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Mukta', sans-serif;
}


.container {
    display: grid;
    grid-template-columns: max(15%, 190px) 3fr;
}

.container img {
    height: 20px;
    width: auto;
}

.sidebar {
    height: auto;
    display: grid;
    padding: 20px;
    gap: 30px;
    background-color: rgb(17, 55, 70);
    font-weight: bolder;
    grid-template-rows: max-content max-content max-content;
}

.sidebar .item {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.main-content {
    display: grid;
    grid-template-rows: max-content;
}

.top-bar {
    display: grid;
    grid-template-columns: max-content 2fr 1fr;
    align-items: center;
    row-gap: 10px;
    background-color: rgb(182, 108, 108);
    padding-top: 10px;
    padding-left: 50px;
}

.search {
    gap: 10px;
    display: flex;
    align-items: center;
    grid-column: 1/3;
}

.search .search-icon img {
    height: 25px;
    vertical-align: middle;
}

.search input {
    width: 80%;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: rgb(194, 193, 193);
}

.top-bar .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: bolder;
}

.profile .notification-icon img {
    height: 25px;
    vertical-align: middle;
}

.profile .profile-picture img {
    height: 40px;
    vertical-align: middle;
}


.greeting-container,
.profile-container {
    display: grid;
    grid-template-columns: 70px max-content;
    grid-template-rows: max-content;
    align-items: center;
    gap: 20px;
}

.greeting-container .messages,
.profile-picture,
.profile-container .details {
    grid-row: 1/3;
}

.greeting-container .profile-picture img,
.profile-container img {
    height: 80px;
}

.greeting-container .message-2 {
    font-size: large;
    font-weight: bolder;
}

.options {
    display: flex;
    grid-column: 2/4;
    gap: 15px;
    justify-content: flex-end;
    padding-right: 50px;
}

.options button {
    border: none;
    background-color: rgb(17, 55, 70);
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 30px;

}

.main-content>.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(34, 37, 37);
}

.content .trending {
    grid-column: 2/3;
}

.content .project-lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    align-items: baseline;
    gap: 20px;
    padding-left: 20px;
    grid-row: 1/3;
}

.content .header {
    grid-column: 1/-1;
    text-align: center;
    align-self: center;
    font-size: large;
    font-weight: bolder;
    padding-top: 20px;
}

.project-lists .card {
    box-shadow: 3px 2px rgba(102, 72, 72, 0.418);
    height: calc(100% - 100px);
    border-left: rgb(75, 75, 11) 2px solid;
    border-radius: 20px;
    background-color: rgb(62, 65, 58);
    padding: 50px 30px;

}

.project-lists .card .title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.project-lists .card .content {
    line-height: 2;
}

#fishy {
    font-size: 10px;
    word-spacing: 3px;
    padding-left: 20px;
}

.announcements .header {
    margin-bottom: 20px;
}

.announcements .card-container,
.trending .profiles {
    background-color: rgb(175, 167, 167);
    border-radius: 20px;
    margin: auto;
    width: 250px;
    padding: 30px;
    height: fit-content;
}


.card-container .card {
    padding: 20px;
    border-bottom: 1px rgb(75, 77, 75) solid;
}

.card-container .card:last-child {
    border-bottom: none;
}

.card-container .card .title,
.trending .header {
    font-weight: bolder;
    padding-bottom: 10px;
}

.card-container .card .content {
    line-height: 1.3;
}

/*Handling the profile containers for trending along with greeting container, using css here to only design the container */